pytest-cov
pytest_mock
nltk
wrapt
zarr
tensorstore==0.1.45
git+https://github.com/fanshiqing/grouped_gemm@main
black==19.10b0
isort
click==8.0.2
pybind11

transformers==4.35.0
trl==0.7.4
tyro==0.6.3
peft==0.7.1
accelerate==0.25.0
datasets==2.14.7
bitsandbytes==0.41.3.post2
scipy==1.11.4
wandb==0.16.2
flash-attn==2.3.2
deepspeed==0.12.6
sentencepiece==0.2.0